spring:
  datasource:
    url: jdbc:h2:mem:dormdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  jackson:
    serialization:
      write-dates-as-timestamps: false
  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: warn
    org.springframework.security: info

app:
  jwt:
    secret: OgJRiGwwVrOH3OZlzJaSTjzrkVgyxCrI2zTXC6XjCJdkVPMI3tbvHcFgr3WY4t3g
    expiration-minutes: 180
  cors:
    allowed-origins: http://localhost:5173

springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /swagger-ui
